<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dt.param"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <instrumentation android:name="android.test.InstrumentationTestRunner" android:targetPackage="com.dt.param"></instrumentation>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
	
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar" android:testOnly="false" android:allowTaskReparenting="true" android:killAfterRestore="false">
        <uses-library android:name="android.test.runner" />
        <activity
            android:name=".view.activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.MsgCenterActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".view.activity.ContactChooseActivity" android:screenOrientation="portrait"></activity>
        <service android:name=".controller.MyService"></service>
    </application>

</manifest>